.salad {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 2fr;
  background: var(--color-bg-recipe);
  width: 19.5625rem;
  height: 7.5rem;
  align-items: center;
  justify-items: center;
  border-radius: 1rem;
}

.kcal {
  color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: 600;
}

.picture {
  padding-left: 1.5rem;
}

.name-food {
  margin: 0.5rem 0 0.5rem;
}

.ingredients {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--color-font-thin);
}

.icon-heart {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
